[submodule "nissutils"]
	path = tools/nissutils
	url = https://github.com/fenugrec/nissutils.git
[submodule "ScoobyRom"]
	path = tools/ScoobyRom
	url = https://github.com/dschultzca/ScoobyRom.git
[submodule "Transmission/m16c-flasher"]
	path = Transmission/m16c-flasher
	url = https://github.com/truhy/m16c-flasher
